* { box-sizing: border-box; }
body { margin: 0; }

#features {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 4px;
	margin: 8px;
}

#features button {
	height: 40px;
	padding: 0;
}

button.active {
	font-weight: bold;
}

#feature {
	margin: 8px;
}

[type=color] {
	width: 100%;
	height: 50px;
	padding: 0;
}

.leds {
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(8, 1fr);
	margin-bottom: 8px;
}

.leds span {
	width: 100%;
	height: 40px;
}
